body{
    background-color: #E4FDE1;
}
.nome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#descricao{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
em{
    color: goldenrod;
}
.git{
    font-size: 20px;
}
.github{
    font-size: 19px;
}
.html{
    font-size: 18px;
}
.css{
    font-size: 18px;
}
.javascript{
    font-size: 19px;
}
.react{
    font-size: 20px;
}